@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

html, body {
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: "Genshin";
    src: url("../assets/font.ttf");
}

body {
    background: url(../assets/bg.png) no-repeat, linear-gradient(104deg, #4C7F9B 20.53%, #0E1E3E 100%);
    background-position: center;
    background-attachment: fixed;
}

* {
    font-family: "Genshin";
    user-select: none;
    background-size: auto !important;

    &:focus {
        outline: none
    }
}

.item {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #4B7E9B 100%);

    &.active {
        background: #6495af
    }

    &:hover:not(.active) {
        background: #4B7E9B
    }
}

.scrollbar {
    &-thumb {
        background: hsl(206, 62%, 26%) !important
    }
    &-track {
        border-radius: 20px;
        background: rgba(76, 127, 155, 0.5) !important;
    }
}

.leaflet-popup{
    &-tip-container > * {
        background: hsl(206, 62%, 26%) !important;
    }
    &-content {
        width: auto !important;
        &-wrapper {
            background: hsl(206, 62%, 26%) !important;
            border-radius: 6px; 
            box-shadow: 2px 2px 8px rgba(0, 0, 0, .4)
        }
    }
}

.marker {
    opacity: 0;
    animation: fadeIn .5s forwards
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.opacity-50 {
    opacity: .5 !important
}

.char .scroll-content > div {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.bg-cover {
    background-size: cover !important;
}

.titlecase {
    text-transform: capitalize;
}

.react-markdown {
    margin-top: 1rem;

    & * {
        color: #F0F3E5;
        font-family: Rubik;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.025em;
    }

    & h4 {
        display: block;
        margin-top: 1rem;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: 0.04em;
    }

    & h5 {
        margin-top: 1rem;
    }

    & strong {
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 0.04em;
    }

    & ul {
        list-style: disc;
        margin-left: 1.2rem
    }
}

.mt-0 {
    margin-top: 0 !important
}

div[style*="background-color"]:last-of-type {
    display: none
}

@font-face {
    font-family: icomoon;
    src: url(./icomoon.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class*=" icon-"],[class^=icon-] {
    font-family: icomoon!important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.6rem;
}

.icon-painted_wall:before {
    content: "\e900"
}

.icon-echoing_conch:before {
    content: "\e901"
}

.icon-glimmering_beacon:before {
    content: "\e902"
}

.icon-waverider_waypoint:before {
    content: "\e903"
}

.icon-wood:before {
    content: "\e904"
}

.icon-geo_sigil:before {
    content: "\e905"
}

.icon-easter_egg:before {
    content: "\e906"
}

.icon-event:before {
    content: "\e907"
}

.icon-exquisite_chest:before {
    content: "\e908"
}

.icon-ley_line:before {
    content: "\e909"
}

.icon-location:before {
    content: "\e90a"
}

.icon-luxurious_chest:before {
    content: "\e90b"
}

.icon-other:before {
    content: "\e90c"
}

.icon-resource_crystal:before {
    content: "\e90d"
}

.icon-crystal:before {
    content: "\e90e"
}

.icon-mysterious_seelie:before {
    content: "\e90f"
}

.icon-book:before {
    content: "\e910"
}

.icon-challenge:before {
    content: "\e911"
}

.icon-resource_animal:before {
    content: "\e912"
}

.icon-resource_plant:before {
    content: "\e913"
}

.icon-flower:before {
    content: "\e914"
}

.icon-shrine:before {
    content: "\e915"
}

.icon-teleporter:before {
    content: "\e916"
}

.icon-statue_of_the_7:before {
    content: "\e917"
}

.icon-abyssal_domain:before {
    content: "\e918"
}

.icon-adventurers_guild:before {
    content: "\e919"
}

.icon-alchemy:before {
    content: "\e91a"
}

.icon-anemoculus:before {
    content: "\e91b";
    color: #5fdcb0
}

.icon-archon_quest:before {
    content: "\e91c"
}

.icon-bar:before {
    content: "\e91d"
}

.icon-blacksmith:before {
    content: "\e91e"
}

.icon-boss:before {
    content: "\e91f"
}

.icon-character:before {
    content: "\e920"
}

.icon-common_chest:before {
    content: "\e921"
}

.icon-cryoculus:before {
    content: "\e922";
    color: #9dfbfa
}

.icon-dendroculus:before {
    content: "\e923";
    color: #a5d535
}

.icon-electroculus:before {
    content: "\e924";
    color: #d695fd
}

.icon-elite_boss:before {
    content: "\e925";
    color: gold
}

.icon-general_goods:before {
    content: "\e926"
}

.icon-geoculus:before {
    content: "\e927";
    color: #fab434
}

.icon-hrydoculus:before {
    content: "\e928";
    color: #4cf
}

.icon-item:before {
    content: "\e929"
}

.icon-chest:before {
    content: "\e92a"
}

.icon-monster:before {
    content: "\e92b"
}

.icon-precious_chest:before {
    content: "\e92c"
}

.icon-pyroculus:before {
    content: "\e92d";
    color: #f27930
}

.icon-general_shop:before {
    content: "\e92e"
}

.icon-shop:before {
    content: "\e92f"
}

.icon-specialty_shop:before {
    content: "\e930"
}

.icon-special_shop:before {
    content: "\e931"
}

.icon-story_quest:before {
    content: "\e932"
}

.icon-world_quest:before {
    content: "\e933"
}

.icon-region:before {
    content: "\e934"
}
